# Python - IMPORTANT: never commit these
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.Python

# Secrets
.env
*.pem
*.key

# Runtime
logs/
*.log

# OS
.DS_Store
Thumbs.db
Desktop.ini

*[Zz]one.[Ii]dentifier
.identifier

# Venv
.venv/
venv/
env/
build/
dist/
*.spec
uploads/
!uploads/.gitkeep
file_meta.json